<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sign Up</title>
    <!-- Bootstrap core CSS -->
    <link href="asserts/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="asserts/css/signin.css" rel="stylesheet">

    <link rel="stylesheet" href="asserts/location/style.css">

    <script src="asserts/js/city.js"></script>
    <script src="asserts/js/method01.js"></script>
</head>
<body class="text-center" style="background-image: url('asserts/img/background.png');background-repeat: no-repeat;
background-attachment: fixed; background-size: cover">
<div>
<div>
    <img class="mb-4" src="asserts/img/FreeSeed.png" alt="" width="500" style="margin-top: 300px">
</div>
    <div>
        <form class="form-signin" action="dashboard.html">
            <h1 class="h3 mb-3 font-weight-normal">Sign Up Right Now!</h1>

            <!--NickName-->
            <input type="text" class="form-control" placeholder="Nick Name" required="" autofocus="">
            <!--Password-->
            <input type="password" class="form-control" placeholder="Password" required="">
            <!--Role-->
            <select id="Role_Desc_ComboBox" class="form-control" style="display: inline">
                <option value ="student">student</option>
                <option value="staff">staff</option>
                <option value="security">security</option>
                <option value ="lecturer">lecturer</option>
                <option value ="Public_Relation">Public_Relation</option>
                <option value ="admin">admin</option>
            </select>
            <br><br>

            <div>
                <fieldset>
                    <legend>Detail</legend>
                        <div>
                                <label for="addr-show">您选择的是：
                                    <input type="text" value="" id="addr-show">
                                </label>
                                <br/>

                                <!--省份选择-->
                                <select id="prov" onchange="showCity(this)">
                                    <option>=请选择省份=</option>

                                </select>

                                <!--城市选择-->
                                <select id="city" onchange="showCountry(this)">
                                    <option>=请选择城市=</option>
                                </select>

                                <!--县区选择-->
                                <select id="country" onchange="selecCountry(this)">
                                    <option>=请选择县区=</option>
                                </select>
                        </div>
                        <br>
                        <div>
                            <input type="text" class="form-control" placeholder="Address" required="" autofocus="">
                        </div>
                </fieldset>
            </div>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit" >Sign Up</button>
            <a href="/index" ><h6>Already Have Acount</h6></a>
            <p class="mt-5 mb-3 text-muted">© 1999 - ∞</p>

            <!--TODO 国际化-->
            <a class="btn btn-sm" >中文</a>
            <a class="btn btn-sm">English</a>
        </form>
    </div>
</div>

</body>
</html>